<form (ngSubmit)="onSubmit()" #remindPasswordForm="ngForm">
<div class="remind-container">
    
      <div class="left-container-static">
        <div class="padding-container">
          <h1 class="title-remind">Przypomnij Hasło</h1>
          <p *ngIf="email.invalid && email.touched" class="invalid-form absolut-alert">Zaznaczone pola formularza zawierają błędy. Popraw je, aby kontynuować.</p>
          <div class="remind-form">
            <p class="remind-text">Podaj adres email, którego używasz do logowania do aplikacji, wyślemy Ci nowe hasło logowania.</p>
            <input type="email" class="input-standard-full-width" id="email" name="email" [(ngModel)]="emailAddress" #email="ngModel" placeholder="Twój email" email required>
            <div class="buttons-container">
              <button class="button button-transparent" [routerLink]="['/login']">Anuluj</button>
              <button type="submit" [disabled]="!remindPasswordForm.form.valid" class="button button-normal">Przypomnij</button>
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="right-container-static">
        <img src="../assets/img/background-welcome.svg" alt="Background image">
      </div>
    </div>