<form (ngSubmit)="onSubmit()" #passwordChangeForm="ngForm">
  <div class="password-container">
    <h1 class="password-title">Ustawienia konta</h1>
    <p *ngIf="current.invalid && current.touched || new.invalid && new.touched || newRepeat.invalid && newRepeat.touched" class="invalid-form">Zaznaczone pola formularza zawierają błędy. Popraw je, aby kontynuować.</p>
    <div class="password-content">
      <div class="container">
        <div class="password-change">
          <div class="fieldset">
            <div class="field-row">
              <div class="field-text">
                <label for="current">Aktualne hasło</label>
              </div>
              <div class="field-element">
                <input type="password" minlength="5" id="current" required name="current" [(ngModel)]="currentPassword" #current="ngModel">
              </div>
            </div>
            <div class="field-row">
              <div class="field-text">
                <label for="new">Nowe hasło</label>
              </div>
              <div class="field-element">
                <input type="password" [(ngModel)]="newPassword" minlength="5" id="new" required name="new" #new="ngModel">
              </div>
            </div>
            <div class="field-row">
              <div class="field-text">
                <label for="newRepeat">Powtórzone nowe hasło</label>
              </div>
              <div class="field-element">
                <input type="password" minlength="5" id="newRepeat" required name="newRepeat" [(ngModel)]="repeatNewPassword" #newRepeat="ngModel">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bottom-bar">
    <button class="bottom-bar-button-left button button-transparent" [routerLink]="['/portal/settings']">Anuluj</button>

    <button type="submit" [disabled]="!passwordChangeForm.form.valid" class="bottom-bar-button-right button button-normal">Zapisz</button>
  </div>
</form>