  <div class="order-accepted-container">
    <h1 class="order-accepted-title">Zlecenie przyjęte</h1>
    <div class="order-accepted-content">
      <div class="container">
        <p class="order-accepted-text">Dziękujemy za złożenie zamówienia. Płatność została zrealizowana, fakturę wyślemy na Twój adres email. Możesz teraz przejść do widoku zamówienia, wydrukować etykiety i przygotować przesyłki do odbioru.</p>
      </div>
      <button class="button button-wide button-normal" [routerLink]="['/portal/orders']">Przejdź do zlecenia</button>
    </div>
  </div>